:root {
    --gray:#f0eef1;
    --white: #fffbfb;
    --border-radius:10px;

}

*, *::before, *::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
div,
ul,
li,
p,
html,
body {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body{
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;

    box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
}

main {
 display: flex;
 flex-direction: column;
 gap: 50px
;
}
#header2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    margin-top: 50px;
    margin-bottom: 10%;
}

h2 {
    font-size: 40px;
}

#header2-container div {
    font-size: 25px;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



#weapon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button.weapon {
    /* height: auto; */
    background-color: black;
    border: 5px black solid;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

button.weapon:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px  black; ;
    cursor: pointer;
}

.weapon-img {
    height: 100px;
}

#game-report {
    text-align: center;
    font-size: 25px;
}

footer {
    position: relative;
    text-align: center;
    height: 30px;
    margin-top: auto;
}

/* modal */

#modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--white);
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;

    height: 150px;
    width: 250px;
    border-radius: 25px;
    visibility: hidden;

}



#modal button {
    /* border: ; */
    font-size: 15px;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: var(--white);
}

#modal button:hover{
    cursor: pointer;
    background-color: rgba(0,0,0, 0.1);
    transform: scale(1.05);
}

#modal h3 {
font-size: 30px;

}
#blocker {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.5);
    visibility: hidden;
}